body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  background: #d1ab96;
  margin: 0;
}
header{
  background: #ffceb4;
  padding: 15px 0;
  text-align: center;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  align-items: center;
}
button{
  background: #ffceb4;
  font-size: 40px;
}
